.login-background {
  background-color: #f0f0f0;
  padding-top: 70px;
}

.login-input {
  background-color: #f0f0f0;
  height: 60px;
  font-size: 30px;
}

.login-foreground {
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  width: 450px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #ababab;
  font-size: 20px;
}

.login-image {
  display: block;
  margin: 0 auto;
}

html {
  height: 100%;
  min-height: 100%;
}

.ng-scope {
  height: 100%;
  min-height: 100%;
}

.form-invalid {
  border: 1px solid transparent;
  border-color: #d9534f;
}

.navbar-default {
  border-radius: 0px;
  min-height: 75px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 2px #ababab;
}

.navbar-nav li a, .navbar-brand {
  font-size: 30px;
  line-height: 60px;
}

.navbar {
  border: 0px;
}

@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.shake {
  animation: shake 400ms ease-in-out;
}

/* Fixes Bootstrap bug. See  https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
